.row-fluid
  .span2
    &nbsp;
  .span8
    .navbar
      .navbar-inner
        .brand.stamped.bold
          = link_to  "A64", root_path
        %ul.nav
          %li.active= link_to icon(:home), root_path
  .span2
    &nbsp;
