.well
  %p
    %strong Project
    %br/
  %ul.nav
    %li.expand-width= link_to "Fork from Github", "http://github.com/iboard/a64", class: "btn btn-primary"
    %li.expand-width= link_to "Issues", "http://github.com/iboard/a64/issues", class: "btn"
