.hero-unit
  %h1 clean and 100% test-covered
  %h3 The aim of this project is to give you an example of a clean and tested Rails-application.

  %p
    Use it as is, to learn, as a template, for whatever you want.
    %br/
    %strong It's `free source´.
    Sure, without any warranty, and without support expect through
    = link_to "Github-issues", "https://github.com/iboard/a64/issues"

  %hr/

  %ul.nav.nav-pills
    - project_links.each do |label, button, link|
      %li.gap-right=button_to(classes: button) { link_to label, link }
