.hero-unit
  %h1 Comming soon ...
  %h3 A clean Rails, MongoID, OmniAuth application.
  %br/
  %p.loud
    This is a very new project, started September 17, 2012
    %br/
    By now this is a side-project to my daily work. Once this project will develop any relevance, I will
    post an introduction here. Stay tuned.
  %p
    %strong
      No support, No Warranty, No Plan.
