@import "constants";

body {
  font-family: "Helvetica Neue";
}

footer {
  text-align: center;
  font-size: 0.75em;
  margin-bottom: 0px;
}

.vertical-gap {
  height: 50px;
}

.expand-width {
  width: 100%;
  .btn {
    &:hover {
      background: $linkColor;
      color: lighten( $linkColor, 80% );
    }
  }
}

.bold  {
  font-weight: bold;
  a { font-weight: bold; }
}

.brand {
  a {
    color: #5f6b72;
    font-size: 1em;
  }
}

.btn-primary-link {
  a {
    color: $darkBtnLinkColor;
    &:hover {
      color: $darkBtnLinkColor;
      text-decoration: underline;
    }
  }
}

.gap-right {
  margin-right: 10px;
}

.gap-bottom {
  margin-bottom: 5px;
}