$navbarBackground: #35556B;
$navbarBackgroundHighlight: #68889E;
$navbarText: #eee;
$navbarLinkColor: #eee;

$linkColor:             #000088;
$linkColorHover:        darken($linkColor, 15%);
$btnPrimaryBackground: #0088cc;
